// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.user-avatar {
    overflow: hidden;
    border-radius: 50%;
    min-width: 150px;
    width: 150px;
    height: 150px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.user-avatar {
    &.inline-img {
        min-width: 30px;
        width: 30px;
        height: 30px;
    }
}

.laravel-pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: #e9ecef;
                border: 1px solid #dee2e6;
            }
        }
    }
}

.nav-tabs.card-header-tabs {
    margin-bottom: calc(-0.75rem - 1px);
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;

    .nav-link.active {
        background-color: #ffffff;
    }
}

.form-control,
.custom-file-input {
    &:focus {
        border-color: #6c757d;
        box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .25);
    }
}

.custom-switch {
    .custom-control-label {
        cursor: pointer;

        &::before {
            border-color: #343a40;
        }

        &::after {
            background-color: #343a40;
        }
    }

    .custom-control-input {
        &:checked {

            ~ .custom-control-label {

                &::before {
                    border-color: #343a40;
                    background-color: #343a40;
                }
            }
        }

        &:focus {

            ~ .custom-control-label {

                &::before {
                    border-color: #6c757d;
                    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .25);
                }
            }
        }

        &:active {

            ~ .custom-control-label {

                &::before {
                    border-color: #6c757d;
                    background-color: rgba(52, 58, 64, .25);
                }
            }
        }
    }
}

.custom-range {
    &::-webkit-slider-thumb {
        background-color: #343a40;

        &:active {
            background-color: #6c757d;
        }
    }

    &::-ms-thumb {
        background-color: #343a40;

        &:active {
            background-color: #6c757d;
        }
    }

    &::-moz-range-thumb {
        background-color: #343a40;

        &:active {
            background-color: #6c757d;
        }
    }


    &:focus {
        &::-webkit-slider-thumb {
            box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(52, 58, 64, .25);
        }

        &::-ms-thumb {
            box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(52, 58, 64, .25);
        }

        &::-moz-range-thumb {
            box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(52, 58, 64, .25);
        }
    }
}

.range-value{
    position: absolute;
    color: #fff;
    padding: 0.25rem 0.5rem;
    background-color: #343a40;
    border-radius: 0.2rem;
    transform: translateX(-85%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity .15s ease-in-out;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #343a40;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.territory-map {
    height: 40vw;

    .info-window-content {
        color: #07070d;
        text-align: center;
        padding: 10px 0 0 10px;
        font-style: normal;
        line-height: 1.5;
    }
}

@media (min-width: 768px) {
    .territory-map {
        max-height: 600px;
    }
}

@media (max-width: 767.98px) {
    .territory-map {
        height: 30vw;
        min-height: 300px;
        color: #07070d;
    }
}
