// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.app-background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    z-index: -1;

    &:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 70vh;
        background: linear-gradient(185deg, rgba(248, 250, 252, 1) 30%, rgba(248, 250, 252, 0.95) 40%, transparent 100%);
    }
}

.menu-btn {
    cursor: pointer;
}

.user-avatar-box {
    position: relative;
    margin: auto;

    .verified-user,
    .not-verified-user {
        top: 0;
        right: 0;
        border: 4px solid #ffffff;
    }
}

.user-avatar {
    overflow: hidden;
    border-radius: 50%;
    min-width: 150px;
    width: 150px;
    height: 150px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.user-avatar {
    &.inline-img {
        min-width: 40px;
        width: 40px;
        height: 40px;
    }
}

.laravel-pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: #e9ecef;
                border: 1px solid #dee2e6;
            }
        }
    }
}

.nav-tabs.card-header-tabs {
    margin-bottom: calc(-0.75rem - 1px);
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;

    .nav-link.active {
        background-color: #ffffff;
    }
}

.form-control {
    &:focus {
        border-color: #6c757d;
        box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .25);
    }
}

.custom-file-input {
    &:focus {
        border-color: #6c757d;
        box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .25);

        ~ .custom-file-label {
            border-color: #6c757d;
            box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .25);
        }
    }
}

.custom-switch {
    .custom-control-label {
        cursor: pointer;

        &::before {
            border-color: #343a40;
        }

        &::after {
            background-color: #343a40;
        }
    }

    .custom-control-input {
        &:checked {

            ~ .custom-control-label {

                &::before {
                    border-color: #343a40;
                    background-color: #343a40;
                }
            }
        }

        &:focus {

            ~ .custom-control-label {

                &::before {
                    border-color: #6c757d;
                    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, .25);
                }
            }
        }

        &:active {

            ~ .custom-control-label {

                &::before {
                    border-color: #6c757d;
                    background-color: rgba(52, 58, 64, .25);
                }
            }
        }
    }
}

.custom-range {
    &::-webkit-slider-thumb {
        background-color: #343a40;

        &:active {
            background-color: #6c757d;
        }
    }

    &::-ms-thumb {
        background-color: #343a40;

        &:active {
            background-color: #6c757d;
        }
    }

    &::-moz-range-thumb {
        background-color: #343a40;

        &:active {
            background-color: #6c757d;
        }
    }


    &:focus {
        &::-webkit-slider-thumb {
            box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(52, 58, 64, .25);
        }

        &::-ms-thumb {
            box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(52, 58, 64, .25);
        }

        &::-moz-range-thumb {
            box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(52, 58, 64, .25);
        }
    }
}

.range-value {
    position: absolute;
    color: #fff;
    padding: 0.25rem 0.5rem;
    background-color: #343a40;
    border-radius: 0.2rem;
    transform: translateX(-85%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity .15s ease-in-out;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #343a40;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.territory-map {
    height: 40vw;

    .info-window-content {
        color: #07070d;
        text-align: center;
        padding: 10px 0 0 10px;
        font-style: normal;
        line-height: 1.5;
    }
}

@media (min-width: 768px) {
    .territory-map {
        max-height: 600px;
    }
}

@media (max-width: 767.98px) {
    .territory-map {
        height: 30vw;
        min-height: 300px;
        color: #07070d;
    }
}

.has-label {
    display: inline-flex;
    position: relative;
    vertical-align: text-bottom;
    margin-left: 10px;
    border-radius: 100%;
    cursor: pointer;

    &:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        animation-delay: .6s;
    }

    &:hover {
        .label {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    .label {
        position: fixed;
        color: #fff;
        text-align: center;
        white-space: normal;
        padding: 0.5rem 0.75rem;
        background-color: #343a40;
        border-radius: 0.2rem;
        width: 250px;
        transform: translate(calc(-50% + 10px), calc(-100% - 12px));
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .15s ease-in-out;
        z-index: 100;

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #343a40;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.right-side {

        .label {
            text-align: left;
            transform: translate(calc(0% - 25px), calc(-100% - 12px));

            &::before {
                left: 35px;
            }
        }

    }
}

.has-icon {
    display: inline-block;
    position: relative;
}

.verified-user,
.not-verified-user {
    display: inline-flex;
    position: absolute;
    top: -2px;
    right: -5px;
    vertical-align: baseline;
    background: #ffffff;
    border: 1px solid #ffffff;
    margin: 0;

    &:after {
        display: none;
    }

    .label {
        transform: translate(calc(-50% + 15px), calc(-100% - 4px));
    }

    &.right-side {

        .label {
            text-align: left;
            transform: translate(calc(0% - 26px), calc(-100% - 6px));
        }

    }
}

.territory-pending {
    box-shadow: 0 0 0 5px rgba(56, 193, 114, .2);
    animation: pulse-success 1.2s infinite ease-in-out;

    &:after {
        animation: pulse-success 1.2s infinite ease-in-out;
    }
}

.territory-time-end {
    box-shadow: 0 0 0 5px rgba(227, 52, 47, .2);
    animation: pulse-danger 1.2s infinite ease-in-out;

    &:after {
        animation: pulse-danger 1.2s infinite ease-in-out;
    }

    &.right-side {

        .label {
            width: 200px;
        }

    }
}

.territory-warning {
    box-shadow: 0 0 0 5px rgba(52, 144, 220, .2);
    animation: pulse-warning 1.2s infinite ease-in-out;

    &:after {
        animation: pulse-warning 1.2s infinite ease-in-out;
    }
}

@keyframes pulse-success {
    0% {
        box-shadow: 0 0 0 1px transparent;
    }
    50% {
        box-shadow: 0 0 0 5px rgba(56, 193, 114, .4);
    }
    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}

@keyframes pulse-danger {
    0% {
        box-shadow: 0 0 0 1px transparent;
    }
    50% {
        box-shadow: 0 0 0 5px rgba(227, 52, 47, .4);
    }
    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}

@keyframes pulse-warning {
    0% {
        box-shadow: 0 0 0 1px transparent;
    }
    50% {
        box-shadow: 0 0 0 5px rgba(52, 144, 220, .4);
    }
    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}

.table {
    white-space: nowrap;
}

.table th, .table td {
    vertical-align: middle;
}
