// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.user-avatar {
    overflow: hidden;
    border-radius: 50%;
    min-width: 150px;
    width: 150px;
    height: 150px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.user-avatar {
    &.inline-img {
        min-width: 30px;
        width: 30px;
        height: 30px;
    }
}

.laravel-pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: #e9ecef;
                border: 1px solid #dee2e6;
            }
        }
    }
}
